<?xml version="1.0" ?>
<model>
    <name>realsense_camera</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Rafael Papallas</name>
        <email>rpapallas@gmail.com</email>
    </author>
    <description>Intel's RealSense Camera</description>
</model>
