<?xml version="1.0"?>
<launch>

    <include file="$(find franka_gazebo)/launch/panda.launch">
        <arg name="use_gripper" value="true"/>
        <!-- arg name="use_pump" value="false"/ -->
        <arg name="x" value="0."/>
        <arg name="z" value="0.06"/>
        <arg name="world" value="$(find multi_view_project)/worlds/pick-and-place.sdf"/>
        <arg name="controller" value="position_joint_trajectory_controller"/>
        <arg name="rviz" value="false"/>
    </include>
    
</launch>
